# Python cache files
__pycache__/
*.pyc 

# Environment variables for hugging-face transformers models [name, version]
.env 

# Python virtual environment
ragenv/

# IDE files
.idea/
.vscode/

# Results of evaluation 
evaluation/results.json
evaluation/evaluation_report.html